@import '../../styles/variables.scss';

footer{
    background-color: $primary-color;
    color: $background-color;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    display: inline-flex;
    justify-content: center;

    a{
        color: #fff;
        text-decoration: none;
    }
    
    *{
        margin: auto 0.5rem;
    }
}
